*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins',sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-item: center;
    padding: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}    

.navbar-links a:hover{
    text-decoration: underline;
    color: #1D232C;
}

.navbar-menu-toggle{
    display: none;
}

/* Side Navbar */

.side-navbar{
    background-color:#1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: #ffffff;
    transition: 2s;

}

.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-links a{
    text-decoration: none;
    color: white;
}


.side-navbar-links a:hover{
    text-decoration: underline;
}

/* Header */

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}


.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
}
/* Media Query */

@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: menu;
    }
    .header.image{
        display: none;
    }
}